.listPage{
  display: flex;
  height: 100%;
  .listContainer{
    flex: 3;
    .wrapper{
      height: 100%;
      padding-right: 1rem;
      padding-left: 1.5rem;
      flex-direction: column;
      gap: 3.2rem;
      overflow-y: scroll;
    }
  }
  .mapContainer{
    flex: 2;
    background-color: #fcf5f3;
  }
}