@import "../../responsive.scss";

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  a{
    transition: all 0.4s ease;
    &:hover{
      scale: 1.05;
    }
    margin-left: 1.2rem;
  }
  .left{
    height: 100%;
    flex:3;
    display: flex;
    gap: 45px;
    align-items: center;
    img{
      width: 160px;
      // height: 40px;
    }
  }
  .right{
    height: 100%;
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    background-color: #fcf5f3;
    @include md{
      background-color: transparent;
    }
    a{
      padding: 0.8rem 1.2rem;
      margin: 1.1rem;
    }
    .register{
      background-color: #fece51;
    }
    .menuIcon{
      display: none;
      z-index: 2;
      @include sm{
        display: inline;
      }
      img{
        width: 2.3rem;
        cursor: pointer;
      }
    }
    .menu{
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100%;
      width: 50%;
     font-size: 1.3rem;
     display: flex;
     transition: all 0.5s ease;
     flex-direction: column;
     align-items: center;
     justify-content: center;
      &.active{
        right: 0;
      }
     
    }
  }
}

.link{
  @include sm{
    display: none;
  }
}