@import "./responsive.scss";
.layout{
  height: 100vh;
  max-width: 1366px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  @include lg{
    // background-color: rgb(252, 252, 133);
    margin: 0 6rem;
  }
  
  @include md{
    margin: 0 6rem;

  }
  @include sm{
    margin: 0;

  }
  .content{
    flex: 1;
  }
  
}
